.Calculator {
  height: 320px;
  width: 245px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(76, 157, 219);

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}